.user-infor {
    height: 135px;
}

.avator-img {
    display: block;
    width: 80%;
    max-width: 100px;
    height: auto;
}

.card-user-infor-name {
    font-size: 2em;
    color: #2d8cf0;
}

.card-title {
    color: #abafbd;
}

.made-child-con-middle {
    height: 100%;
}

.to-do-list-con {
    height: 145px;
    overflow: auto;
}

.to-do-item {
    padding: 2px;
}

.infor-card-con {
    height: 100px;
}

.infor-card-icon-con {
    height: 100%;
    color: white;
    border-radius: 3px 0 0 3px;
}

.map-con {
    height: 305px;
}

.map-incon {
    height: 100%;
}

.data-source-row {
    height: 200px;
}

.line-chart-con {
    height: 150px;
}

.single-page-con .single-page {
    height: 100%;
}

.single-page-con .single-page .amap-wrapper {
    height: 650px;
}

.container-map {
    height: 100%;
    background: #FFFFFF;
    margin: 0;
    padding: 20px;
}

.amap-demo {
    height: 300px;
}

.homeBlock {
    background-color: #f6f6f6;
    height: 165px;
    width: 300px;
    border-radius: 8px;
}

.homeBlock:hover {
    background-color: #d6eaff;
}

.homeBlock .icon {
    font-size: 150px;
    color: #8bc5ff;
}
.home_center {
    text-align: center;
    margin-top: 250px;
    img {
        width: 300px;
        height: 180px;
    }  
    div {
        font-size: 24px;
        margin-top: 25px;
    }  
}
